.floorNumberAside {
    position: fixed;
    left: 0;
    top: 100px;
    z-index: -1;
    margin-left: -9%;

}

.floorNumberAside>p{
    transition: 0.5s linear;
    font-size: 30vw;
    line-height: 1;
}

