.wholeLastPageFooter{
    position: relative;
    /*bottom:-100vh;*/
    width: 100%;
    height: 400px;
    /*max-height: 100vh;*/
    /*z-index: 0;*/
    overflow: hidden;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    transition: 0.5s linear;
    max-width: 1600px;
    margin: auto;
}



/*.footerCover{*/
/*    position: absolute;*/
/*    top:0; left:0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(24, 24, 24, 0.5);*/
/*    z-index: 100;*/
/*    !*display: none;*!*/
/*    cursor: default;*/
/*}*/
.footerFourthPage{
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
    /*border-radius: 10px 10px 0 0;*/
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*display: none;*/
}
/*.footerFourthPage.downSlide::before{*/
/*    content:'';*/
/*    position: absolute;*/
/*    top:-15px;*/
/*    width: 100px;*/
/*    height: 7px;*/
/*    background-color: blanchedalmond;*/
/*    border-radius: 50px;*/
/*    cursor: pointer;*/
/*}*/
.footerFourthPage>.footerThirdPart{
    position: absolute;
    left:50%;
    top:-15px;
    transform: translateX(-50%);
    width: 100px;
    height: 7px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}
.footerFourthPage>.footerFirstPart{
    width: 100%;
    height: 95%;
    /*border:1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.footerFourthPage>.footerFirstPart>.footerLogo{
    width: 10%;
    height: 100%;
    /*border:1px solid aqua;*/
    text-align: center;
}
.footerFourthPage>.footerFirstPart>.footerLogo>img{
    width: 30%;
}

.footerFourthPage>.footerFirstPart>.footerFirstLink{
    width: 20%;
    height: 100%;
    /*border:1px solid yellowgreen;*/
}
.footerFourthPage>.footerFirstPart>div>header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 10%;
    border-bottom: 2px solid coral;
}
.footerFourthPage>.footerFirstPart>div>ul{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 25px;
    list-style-image: url("../Image/FaviconItem.png");
}
.footerFourthPage>.footerFirstPart>div>ul>li{
    cursor: pointer;
}


.footerFourthPage>.footerFirstPart>.footerThirdLink>ul{
    justify-content: flex-start;
}
.footerFirstPart>.footerThirdLink>ul>li{
    margin:10px 0;
}
.footerFirstPart>.footerThirdLink>ul>li:nth-of-type(1){
    margin-top:25px;
}

.footerFourthPage>.footerFirstPart>.footerSecondLink{
    width: 20%;
    height: 100%;
    /*border:1px solid fuchsia;*/
}

.footerFourthPage>.footerFirstPart>.footerThirdLink{
    width: 20%;
    height: 100%;
    /*border:1px solid chocolate;*/
}

.footerFourthPage>.footerFirstPart>.footerAuthorizationLogo{
    width: 30%;
    height: 100%;
    /*border:1px solid crimson;*/
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.footerAuthorizationLogo>img{
    width: 22%;
    margin: 2%;
}
.footerAuthorizationLogo>img:nth-of-type(2){
    width: 25%;
}

.footerFourthPage>.footerSecondPart{
    width: 100%;
    height: 5%;
    /*border:1px solid blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

}
.footerFourthPage>.footerSecondPart>p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border-top: 1px solid gray;
}