.wholeLastPageFooter {
    position: relative;
    /*bottom:-100vh;*/
    width: 100%;
    height: 300px;
    /*max-height: 100vh;*/
    /*z-index: 0;*/
    overflow: hidden;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    transition: 0.5s linear;

    background-color: #202020;
    /*background-color: white;*/
}

/*.footerCover{*/
/*    position: absolute;*/
/*    top:0; left:0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(24, 24, 24, 0.5);*/
/*    z-index: 100;*/
/*    !*display: none;*!*/
/*    cursor: default;*/
/*}*/

.footerPage {
    width: 100%;
    height: 100%;
    z-index: 100;
    max-width: 1600px;
    margin: auto;
}

.FooterBelow {
    font-size: 12px;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #718395;
}

.FooterAbove {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    color: white;
}

.FooterAbove > li {
    width: 25%;
    height: 100%;
    position: relative;
}
.FooterAbove > li>.services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
}
.FooterAbove .services>li{
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s linear;
    /*padding-right: 20px;*/
}
.FooterAbove .services>li:hover{
    color: #39BAE8
}

.FooterAbove .services{
    list-style-position: inside;
    list-style-image: url("../Image/listIcon.png");
    font-size: 18px;
}

.services::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 20%;
    width: 70%;
    height: 2px;
    background-color: #718395;
    border-radius: 5px;
}

.services::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 20%;
    width: 30%;
    height: 6px;
    background-color: #39BAE8;
    border-radius: 5px;
}

.footerLogos>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footerLogos>ul>li{
    width: 100%;
    max-width: 190px;
    height: 19%;
}

.footerLogos>ul>li>a {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    /*margin: 6px 10px;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    /*box-shadow: 1px 1px 5px gray;*/
    transition: 0.2s;
    position: relative;
    background-size: cover;
    /*transform: rotate(-90deg);*/
}
.footerLogos>ul>li>a:hover {
    box-shadow: 1px 1px 5px #5a5a5a;
}

.footerLogos>ul>li>a.apple{
    background-image: url("../Image/Google-Play-Badge.png");
}

.footerLogos>ul>li>a.android{
    background-image: url("../Image/app-store-apple-computer-icons-png-favpng-SXKNjLyedz9MmUKnRpWrAxz0U.jpg");
}

.footerLogos .socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footerLogos .socials>li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #404040;
    border-radius: 10px;
    transition: 0.2s linear;
    cursor: pointer;
}

.footerLogos .socials>li>a{
    display: inherit;
    width: auto;
    height: auto;
}

.footerLogos .socials>li span{
    transition: 0.2s linear;
}

.footerLogos .socials>.whatsapp:hover{
    border-color: #23d365;
}

.footerLogos .socials>.whatsapp:hover  span{
    color: #23d365;
}

.footerLogos .socials>.telegram:hover{
    border-color: #2ca5e0;
}

.footerLogos .socials>.telegram:hover  span{
    color: #2ca5e0;
}

.footerLogos .socials>.instagram:hover{
    border-color: #dd2a7b;
}

.footerLogos .socials>.instagram:hover  span{
    color: #dd2a7b;
}
.footerLogos .socials>.facebook:hover{
    border-color: #4267B2;
}

.footerLogos .socials>.facebook:hover  span{
    color: #4267B2;
}



/*.footerPage > .footerThirdPart {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: -15px;*/
/*    transform: translateX(-50%);*/
/*    width: 100px;*/
/*    height: 7px;*/
/*    background-color: white;*/
/*    border-radius: 50px;*/
/*    cursor: pointer;*/
/*}*/

/*.footerFourthPage > .footerFirstPart {*/
/*    width: 100%;*/
/*    height: 95%;*/
/*    !*border:1px solid red;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding-top: 20px;*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerLogo {*/
/*    width: 10%;*/
/*    height: 100%;*/
/*    !*border:1px solid aqua;*!*/
/*    text-align: center;*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerLogo > img {*/
/*    width: 30%;*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerFirstLink {*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    !*border:1px solid yellowgreen;*!*/
/*}*/

/*.footerFourthPage > .footerFirstPart > div > header {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    width: 80%;*/
/*    height: 10%;*/
/*    border-bottom: 2px solid coral;*/
/*}*/

/*.footerFourthPage > .footerFirstPart > div > ul {*/
/*    width: 100%;*/
/*    height: 90%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    align-items: flex-start;*/
/*    margin-right: 25px;*/
/*    list-style-image: url("../Image/FaviconItem.png");*/
/*}*/

/*.footerFourthPage > .footerFirstPart > div > ul > li {*/
/*    cursor: pointer;*/
/*}*/


/*.footerFourthPage > .footerFirstPart > .footerThirdLink > ul {*/
/*    justify-content: flex-start;*/
/*}*/

/*.footerFirstPart > .footerThirdLink > ul > li {*/
/*    margin: 10px 0;*/
/*}*/

/*.footerFirstPart > .footerThirdLink > ul > li:nth-of-type(1) {*/
/*    margin-top: 25px;*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerSecondLink {*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    !*border:1px solid fuchsia;*!*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerThirdLink {*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    !*border:1px solid chocolate;*!*/
/*}*/

/*.footerFourthPage > .footerFirstPart > .footerAuthorizationLogo {*/
/*    width: 30%;*/
/*    height: 100%;*/
/*    !*border:1px solid crimson;*!*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: flex-end;*/
/*}*/

/*.footerAuthorizationLogo > img {*/
/*    width: 22%;*/
/*    margin: 2%;*/
/*}*/

/*.footerAuthorizationLogo > img:nth-of-type(2) {*/
/*    width: 25%;*/
/*}*/

/*.footerFourthPage > .footerSecondPart {*/
/*    width: 100%;*/
/*    height: 5%;*/
/*    !*border:1px solid blue;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 10px;*/

/*}*/

/*.footerFourthPage > .footerSecondPart > p {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 60%;*/
/*    height: 100%;*/
/*    border-top: 1px solid gray;*/
/*}*/