.header {
    width: 100%;
    height: 80px;
    /*border:1px solid yellowgreen;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 100;
    /*margin-top: 3vh;*/
    max-width: 1600px;
    margin: auto;
    border-bottom: 1px solid black;
}

.header > .logo {
    width: 15%;
    height: 100%;
    /*border:1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    opacity: 1;
}

.header > .logo > img {
    height: 60%;
    cursor: pointer;
}

.header > nav {
    width: 70%;
    height: 100%;
    /*display: none;*/
    /*border: 1px solid violet;*/
}

.header > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
}
.HeaderUnderline {
    position: absolute;
    bottom:0;
    left: 100%;
    width: 0;
    height: 4px;
    background-color: #39bae8;
    margin:0 !important;
    padding:0 !important;
    transition: 0.5s  0.2s ease-in-out !important;
}
.noHover{
    width: 0 !important;
    left: 100% !important;
}


.header > nav > ul > li {
    cursor: pointer;
    color: white;
    padding: 10px;
    margin: 15px;
    transition: 0.5s linear;
}
.header > nav > ul > li:hover{
    color: #39bae8;
}

.header > .profileSearch {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*border: 1px solid aqua;*/
    font-size: 18px;
    font-weight: normal;
    color: white;

}

.header > .profileSearch > .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid rosybrown;*/
    /*width: 20%;*/
    /*height: 100%;*/
    /*margin-right:3%;*/
    padding: 10px;
    border: 1px solid #718395;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    transition: 0.2s linear;
}

.header > .profileSearch > .searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid royalblue;*/
    /*width: 20%;*/
    /*height: 100%;*/
    padding: 10px;
    border: 1px solid #718395;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.2s linear;
}

.header > .profileSearch > .searchIcon:hover, .header > .profileSearch > .profile:hover{
   color: #39bae8
}

.itemSearch {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 0;
    height: 42px;
    transition: 0.2s linear;
    border: none;
    margin-left: 10px;
    /*padding: 5px;*/
    /*font-weight: normal;*/
    font-family: Makarehlight;
}


.increment {
    width: 220px;
    border: 1px solid #718395;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}